In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weather.csv')

In [3]:
df

,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation
0,41.01933,28.887304,32.0,10800,Europe/Istanbul,+03
1,time,temperature_2m (°C),relative_humidity_2m (%),cloud_cover (%),wind_speed_10m (km/h),direct_radiation_instant (W/m²)
2,2023-07-09T00:00,21.6,69,21,20.8,0.0
3,2023-07-09T01:00,21.4,66,30,22.0,0.0
4,2023-07-09T02:00,21.2,67,33,22.0,0.0
...,...,...,...,...,...,...
8805,2024-07-09T19:00,28.3,72,0,25.2,154.0
8806,2024-07-09T20:00,26.9,79,0,25.7,33.6
8807,2024-07-09T21:00,25.9,84,0,24.3,0.0
8808,2024-07-09T22:00,25.3,87,0,21.9,0.0
8809,2024-07-09T23:00,25.0,89,0,21.4,0.0

In [5]:
df.columns = ['time', 'temperature(°C)', 'humidity(%)', 'cloudcover(%)', 'windspeed(km/h)', 'irrediance(W/m²)' ]

In [6]:
df

,time,temperature(°C),humidity(%),cloudcover(%),windspeed(km/h),irrediance(W/m²)
0,41.01933,28.887304,32.0,10800,Europe/Istanbul,+03
1,time,temperature_2m (°C),relative_humidity_2m (%),cloud_cover (%),wind_speed_10m (km/h),direct_radiation_instant (W/m²)
2,2023-07-09T00:00,21.6,69,21,20.8,0.0
3,2023-07-09T01:00,21.4,66,30,22.0,0.0
4,2023-07-09T02:00,21.2,67,33,22.0,0.0
...,...,...,...,...,...,...
8805,2024-07-09T19:00,28.3,72,0,25.2,154.0
8806,2024-07-09T20:00,26.9,79,0,25.7,33.6
8807,2024-07-09T21:00,25.9,84,0,24.3,0.0
8808,2024-07-09T22:00,25.3,87,0,21.9,0.0
8809,2024-07-09T23:00,25.0,89,0,21.4,0.0

In [7]:
df = df.iloc[2:]

In [8]:
df

,time,temperature(°C),humidity(%),cloudcover(%),windspeed(km/h),irrediance(W/m²)
2,2023-07-09T00:00,21.6,69,21,20.8,0.0
3,2023-07-09T01:00,21.4,66,30,22.0,0.0
4,2023-07-09T02:00,21.2,67,33,22.0,0.0
5,2023-07-09T03:00,20.4,62,49,21.9,0.0
6,2023-07-09T04:00,20.3,62,100,19.7,0.0
...,...,...,...,...,...,...
8805,2024-07-09T19:00,28.3,72,0,25.2,154.0
8806,2024-07-09T20:00,26.9,79,0,25.7,33.6
8807,2024-07-09T21:00,25.9,84,0,24.3,0.0
8808,2024-07-09T22:00,25.3,87,0,21.9,0.0
8809,2024-07-09T23:00,25.0,89,0,21.4,0.0

In [9]:
df.to_csv('weather2.csv')