In [10]:
import pandas as pd 
import os

In [12]:
weather_data = pd.read_csv('weather2.csv')

In [13]:
print(weather_data.head())

   Unnamed: 0              time  temperature(°C)  humidity(%)  cloudcover(%)  \
0           2  2023-07-09T00:00             21.6           69             21
1           3  2023-07-09T01:00             21.4           66             30
2           4  2023-07-09T02:00             21.2           67             33
3           5  2023-07-09T03:00             20.4           62             49
4           6  2023-07-09T04:00             20.3           62            100

   windspeed(km/h)  irrediance(W/m²)
0             20.8               0.0
1             22.0               0.0
2             22.0               0.0
3             21.9               0.0
4             19.7               0.0

In [16]:
weather_data = weather_data.drop(columns=['Unnamed: 0'])

In [17]:
weather_data

,time,temperature(°C),humidity(%),cloudcover(%),windspeed(km/h),irrediance(W/m²)
0,2023-07-09T00:00,21.6,69,21,20.8,0.0
1,2023-07-09T01:00,21.4,66,30,22.0,0.0
2,2023-07-09T02:00,21.2,67,33,22.0,0.0
3,2023-07-09T03:00,20.4,62,49,21.9,0.0
4,2023-07-09T04:00,20.3,62,100,19.7,0.0
...,...,...,...,...,...,...
8803,2024-07-09T19:00,28.3,72,0,25.2,154.0
8804,2024-07-09T20:00,26.9,79,0,25.7,33.6
8805,2024-07-09T21:00,25.9,84,0,24.3,0.0
8806,2024-07-09T22:00,25.3,87,0,21.9,0.0
8807,2024-07-09T23:00,25.0,89,0,21.4,0.0

In [19]:
print(weather_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8808 entries, 0 to 8807
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              8808 non-null   object
 1   temperature(°C)   8808 non-null   float64
 2   humidity(%)       8808 non-null   int64
 3   cloudcover(%)     8808 non-null   int64
 4   windspeed(km/h)   8808 non-null   float64
 5   irrediance(W/m²)  8808 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 413.0+ KB
None

In [20]:
print(weather_data.isnull().sum())

time                0
temperature(°C)     0
humidity(%)         0
cloudcover(%)       0
windspeed(km/h)     0
irrediance(W/m²)    0
dtype: int64

In [22]:
weather_data['time'] = pd.to_datetime(weather_data['time'])

In [23]:
weather_data['hour'] = weather_data['time'].dt.hour
weather_data['day'] = weather_data['time'].dt.day
weather_data['month'] = weather_data['time'].dt.month
weather_data['year'] = weather_data['time'].dt.year

In [24]:
weather_data = weather_data.drop(columns=['time'])

In [25]:
columns = ['hour', 'day', 'month', 'year', 'temperature(°C)', 'humidity(%)', 'cloudcover(%)', 'windspeed(km/h)', 'irrediance(W/m²)']
weather_data = weather_data[columns]

In [26]:
weather_data

,hour,day,month,year,temperature(°C),humidity(%),cloudcover(%),windspeed(km/h),irrediance(W/m²)
0,0,9,7,2023,21.6,69,21,20.8,0.0
1,1,9,7,2023,21.4,66,30,22.0,0.0
2,2,9,7,2023,21.2,67,33,22.0,0.0
3,3,9,7,2023,20.4,62,49,21.9,0.0
4,4,9,7,2023,20.3,62,100,19.7,0.0
...,...,...,...,...,...,...,...,...,...
8803,19,9,7,2024,28.3,72,0,25.2,154.0
8804,20,9,7,2024,26.9,79,0,25.7,33.6
8805,21,9,7,2024,25.9,84,0,24.3,0.0
8806,22,9,7,2024,25.3,87,0,21.9,0.0
8807,23,9,7,2024,25.0,89,0,21.4,0.0

In [27]:
weather_data.to_csv('timeseperated.csv')