In [35]:
import pandas as pd
import os

In [36]:
weather_data = pd.read_csv(r'C:\Users\EOS\Downloads\weather.csv')

In [37]:
weather_data.head(10)

,time,temperature(°C),humidity(%),cloudcover(%),windspeed(km/h),irrediance(W/m²)
0,2023-07-09T00:00,21.6,69,21,20.8,0.0
1,2023-07-09T01:00,21.4,66,30,22.0,0.0
2,2023-07-09T02:00,21.2,67,33,22.0,0.0
3,2023-07-09T03:00,20.4,62,49,21.9,0.0
4,2023-07-09T04:00,20.3,62,100,19.7,0.0
5,2023-07-09T05:00,20.7,70,100,22.7,0.0
6,2023-07-09T06:00,21.6,61,46,24.1,0.0
7,2023-07-09T07:00,22.3,54,77,25.9,35.6
8,2023-07-09T08:00,23.0,50,85,28.7,21.9
9,2023-07-09T09:00,23.1,50,48,30.8,12.9

In [38]:
weather_data.isnull().sum()

time                0
temperature(°C)     0
humidity(%)         0
cloudcover(%)       0
windspeed(km/h)     0
irrediance(W/m²)    0
dtype: int64

In [39]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8808 entries, 0 to 8807
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              8808 non-null   object
 1   temperature(°C)   8808 non-null   float64
 2   humidity(%)       8808 non-null   int64
 3   cloudcover(%)     8808 non-null   int64
 4   windspeed(km/h)   8808 non-null   float64
 5   irrediance(W/m²)  8808 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 413.0+ KB

In [41]:
current_dir = os.path.dirname(os.path.abspath('weather.csv'))
file_path = os.path.join(current_dir,'weather.csv')

In [44]:
df = pd.read_csv(file_path)

In [45]:
df['time'] = pd.to_datetime(df['time'])

In [46]:
df['hour'] = df['time'].dt.hour
df['day'] = df['time'].dt.day
df['month'] = df['time'].dt.month
df['year'] = df['time'].dt.year

In [47]:
df = df.drop(columns=['time'])

In [48]:
df

,temperature(°C),humidity(%),cloudcover(%),windspeed(km/h),irrediance(W/m²),hour,day,month,year
0,21.6,69,21,20.8,0.0,0,9,7,2023
1,21.4,66,30,22.0,0.0,1,9,7,2023
2,21.2,67,33,22.0,0.0,2,9,7,2023
3,20.4,62,49,21.9,0.0,3,9,7,2023
4,20.3,62,100,19.7,0.0,4,9,7,2023
...,...,...,...,...,...,...,...,...,...
8803,28.3,72,0,25.2,154.0,19,9,7,2024
8804,26.9,79,0,25.7,33.6,20,9,7,2024
8805,25.9,84,0,24.3,0.0,21,9,7,2024
8806,25.3,87,0,21.9,0.0,22,9,7,2024
8807,25.0,89,0,21.4,0.0,23,9,7,2024

In [49]:
columns = ['hour', 'day', 'month', 'year', 'temperature(°C)', 'humidity(%)', 'cloudcover(%)', 'windspeed(km/h)', 'irrediance(W/m²)']
df = df[columns]

In [50]:
output_file_path = os.path.join(current_dir, 'weather_seperated.csv')
df.to_csv(output_file_path, index = False)

In [51]:
print(f"CSV dosyası başarıyla güncellendi ve kayddildi")

CSV dosyası başarıyla güncellendi ve kayddildi